.required {
    font-weight: bold;
}
.required:after {
    color: #e32;
    content: '* ';
    display:inline;
}
.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 380px;

    h2 {
        margin: 10 px 0;
    }

}